<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="폐렴 X-Ray 이미지를 입력하고 분석 결과를 받아보세요. GoogLeNet으로 딥러닝된 모델이 이미지를 분류하고 특징을 보여줍니다.">
    <meta name="author" content="2020 IT 졸업프로젝트-한혜원, 하윤주">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="AI Covid-19 폐 X-RAY 분류기" /> <!-- website name -->
	<meta property="og:site" content="http://3.35.191.97:5000/" /> <!-- website link -->
	<meta property="og:title" content="AI Covid-19 폐 X-RAY 분류기" /> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="폐렴 X-Ray 이미지를 입력하고 분석 결과를 받아보세요. GoogLeNet으로 딥러닝된 모델이 이미지를 분류하고 특징을 보여줍니다." /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="program" />

    <!-- Website Title -->
    <title>AI Covid-19 폐 X-RAY 분류기</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fontawesome-all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/swiper.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	
	<!— Favicon  —>
    <link rel="icon" href="{{ url_for('static', filename='images/icon-hhproject.png') }}">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="/"><img src="{{ url_for('static', filename='images/logo-hhproject.png') }}" alt="LOGO"></a> 
            
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/img_select">진단</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/patient_progress">환자기록</a>
                    </li>
					{% if g.user %}
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/logout">{{ g.user }} (LOGOUT)</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/login"> LOGIN</a>
                    </li>
                    {% endif %}
                    <!-- Dropdown Menu -->          
                    
                    <!-- end of dropdown menu -->

                </ul>
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-7">
                        <div class="text-container">
                            <h1>X-RAY 이미지 학습을 통한<br>코로나 증상 분류기</h1>
                            <p class="p-large">폐렴 X-Ray 이미지를 입력하고 분석 결과를 받아보세요. GoogLeNet으로 딥러닝된 모델이 이미지를 분류하고 특징을 보여줍니다.</p>
                            <a class="btn-solid-lg page-scroll" href="/img_select">이미지 분석하기</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6 col-xl-5">
                        <div class="image-container">
                            <div class="img-wrapper">
                                <img style="width:80%" class="img-fluid" src="{{ url_for('static', filename='images/header-software-lung.png') }}" alt="alternative">
                            </div> <!-- end of img-wrapper -->
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310"><defs><style>.cls-1{fill:#0B486B;}</style></defs><title>header-frame</title><path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"/></svg>
    <!-- end of header -->


    <!-- Customers -->
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Image Slider -->
                    <div class="slider-container">
                        <div class="swiper-container image-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                        <img class="img-fluid" width="100px" height="100px" src="{{ url_for('static', filename='images/flask.png') }}" alt="alternative">
										<p class="p-large">Flask</p>
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" width="100px" height="100px" src="{{ url_for('static', filename='images/pytorch.png') }}" alt="alternative">
										<p class="p-large">PyTorch</p>
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" width="100px" height="100px" src="{{ url_for('static', filename='images/mysql.png') }}" alt="alternative">
										<p class="p-large">MySQL</p>
                                </div>
                                <div class="swiper-slide">
                                        <img class="img-fluid" width="100px" height="100px" src="{{ url_for('static', filename='images/AWS.png') }}" alt="alternative">
										<p class="p-large">Amazon Web Service</p>
                                </div>
                                
                            </div> <!-- end of swiper-wrapper -->
                        </div> <!-- end of swiper container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of image slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of customers -->


    <!-- Footer -->
    <svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 79"><defs><style>.cls-2{fill:#0B486B;}</style></defs><title>footer-frame</title><path class="cls-2" d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z" transform="translate(0 -0.188)"/></svg>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 <a href="https://inovatik.com">졸업프로젝트 하윤주 한혜원</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
   
    	
    <!-- Scripts -->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script> <!-- Bootstrap framework -->
    <script src="{{ url_for('static',filename='js/jquery.easing.min.js') }}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{{ url_for('static',filename='js/swiper.min.js') }}"></script> <!-- Swiper for image and text sliders -->
    <script src="{{ url_for('static',filename='js/jquery.magnific-popup.js') }}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{{ url_for('static',filename='js/validator.min.js') }}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{{ url_for('static',filename='js/scripts.js') }}"></script> <!-- Custom scripts -->
</body>
</html>